<section class="sec sec--night sec--start" id="start" data-surface="dark" aria-labelledby="start-h">
  <div class="wrap sec__grid">
    <div class="sec__head">
      <h2 class="h2 h2--xl" id="start-h">{{c.start.title}}</h2>
    </div>
    <div class="sec__body">
      <p class="lede start__lede">{{cta.text}}</p>
      <p class="start__intro">{{c.start.intro}}</p>
      <ol class="send">
        {{#each c.start.send}}<li>{{.}}</li>
        {{/each}}</ol>
      <p class="cta">
        <a class="btn btn--solid" href="{{cta.wa_url|attr}}" target="_blank" rel="noopener">{{c.start.cta}}</a>
        <span class="cta__num"><bdi dir="ltr">+{{whatsapp}}</bdi></span>
      </p>
    </div>
  </div>
</section>
